.cancelled {
  text-decoration: line-through;
}

.error {
  color: red;
}

.info {
  font-style: italic;
}

.student {
  padding-top: 15px;
  border-bottom: 1px solid #333;
}

.examRow,
.examRowEmpty,
.lessonRow,
.lessonRowEmpty
 {
  vertical-align: top;
  padding-left: 20px;
}

.examRow,
.examRowEmpty {
  color: rgb(0, 255, 255);
}